<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login Test Suite" verbose="1">
    <listeners>
        <listener class-name="com.example.VietnameseReportListener"/>
    </listeners>
    <test name="Login Tests">
        <classes>
            <class name="com.example.LoginTest">
                <methods>
                    <include name="testLoginSuccess"/>
                    <include name="testLoginWrongPassword"/>
                    <include name="testLoginEmptyUsername"/>
                    <include name="testLoginEmptyPassword"/>
                    <include name="testLoginLockedUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
